<!DOCTYPE html>
<html>
<head>
  <title>Cool Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body class="body">
<!-- <%= image_tag 'ipod.jpg', width: 200 %>  -->
<%= render partial: 'shared/header', locals: {user: @current_user} %>
<%= yield %>
<br>
<%= render partial: 'shared/footer', locals: {user: @current_user} %>
</body>
</html>
